# C++ build files
UDPInput/build/

# Android build files
AndroidApp/build/

*.log
*.apk
*.keystore

# Gradle caches
.gradle/
*.gradle
!build.gradle
!settings.gradle
gradle/
.vscode/
gradlew
gradlew.bat

# IDE files
.idea/
*.iml

